body{
  margin: 0;
}
@font-face {
  font-family: 'icomoon';
  src:  url('https://github.com/olegonev/olegonev.github.io/raw/refs/heads/main/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: 5px;
  left: 5px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-images:before {
  content: "\e90e";
}
.icon-music:before {
  content: "\e911";
}
.icon-film:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e971";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-opera:before {
  content: "\eade";
}
.icon-html-five2:before {
  content: "\eae5";
}
.icon-css3:before {
  content: "\eae6";
}

.container_block{
  min-width: 320px;
  max-width: 1300px;
  margin: 50px auto;
}
.link_site{
  width: 24%;
  min-width: 200px;
  background-color: orange;
  position: relative;
  height: 50px;
  float: left;
  margin: 0 5px 15px 0px;
  border-radius: 6px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5)
  
}
.link_site p{
  position: absolute;
  bottom: 30px;
  left: 51px;
  margin: 0px 0px 0px 9px;
  color: white;
  white-space: nowrap;
  font-size: 89%;
}
.link_site p:last-child{
  position: absolute;
  left: 50px;
  top: 30px;
  margin: 0px 0px 0px 9px;
}
.icon{
  font-size: 35px;
  color: white;
  padding: 3px 0 0 3px;
  width: 50px ;
  height: 94%;
  background-color: #444444;
  border-radius: 5px 0 0 5px;
  
}
a{
  text-decoration: none;
}
@media(max-width:960px) {
  .link_site{
    width: 32%;
  }
}
@media(max-width:768px) {
  .link_site{
    width: 49%;
  }
  .link_site:nth-child(even){
    margin: 0 0 15px 0;
  }
}
@media(max-width:480px) {
  .link_site{
    width: 100%;
  }
  .container_block{
    margin: 10px 0 ;

  }
}